<div open class="toggle open" data-client-visible="hn-toggle">
    <a>[-]</a>
</div>
<ul
    class="comment-children"
>
    <slot />
</ul>

<script>
    import "./LazyComponent.ts";
    
    class HnToggle extends HTMLElement {
        #anchor

        static get observedAttributes() {
            return ['open']
        }

        connectedCallback() {
            this.#anchor = this.querySelector('a')
            this.#anchor.addEventListener('click', () => this.open = !this.open)
        }

        attributeChangedCallback() {
            if (!this.#anchor) { return }

            if (this.open) {
                this.#anchor.innerText = '[-]'
                this.classList.add('open')
            } else {
                this.#anchor.innerText = '[+] comments collapsed'
                this.classList.remove('open')
            }
        }

        get open() {
            return this.hasAttribute('open')
        }

        set open(value) {
            value ? this.setAttribute('open', '') : this.removeAttribute('open')
        }
    }

    customElements.define('hn-toggle', HnToggle)
</script>

<style is:global>
    .toggle {
        display: block;
    }

    .toggle + ul {
        display: none;
    }

    .toggle[open] + ul {
        display: block;
    }
</style>