<hn-toggle open class="toggle open">
    <a>[-]</a>
</hn-toggle>
<ul
    class="comment-children"
>
    <slot />
</ul>

<style is:global>
    hn-toggle {
        display: block;
    }

    hn-toggle + ul {
        display: none;
    }

    hn-toggle[open] + ul {
        display: block;
    }
</style>