<div open class="toggle open">
    <a>[-]</a>
</div>
<ul
    class="comment-children"
>
    <slot />
</ul>

<script>
    import "./Toggle.ts";
</script>

<style is:global>
    .toggle {
        display: block;
    }

    .toggle + ul {
        display: none;
    }

    .toggle[open] + ul {
        display: block;
    }
</style>